@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #3cce5ff;
  --secondary-color: #ffffff;
  --foreground-color: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #00004c;
    --secondary-color: #000021;
    --foreground-color: #ffffff;
  }
}

body {
  color: var(--foreground-color);
  background: linear-gradient(
    180deg,
    var(--primary-color),
    var(--secondary-color)
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
